a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}


a:hover {
  color: #125699;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}
.sectionAndPicture{

    display: flex;
    flex-wrap: wrap;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 100px;
  height: 60px;
  display: inline-block;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  text-align: center;
}

body{
  font-family: 'Ropa Sans', sans-serif;
  background: #E96D65;
}
.carousel-indicators{
  top: 200px;
}
.slider-main{
  margin-top: 220px;
}
.carousel-inner{
  width: 70%;
}
.carousel-inner .carousel-item h3{
  display: inline-block;
  opacity: 0.5;
}
.carousel-inner .carousel-item p{
  font-size: 17px;
}
@media (max-width: 360px) {
.carousel-indicators{
  top: 320px;
}
}
