<style>

</style>


  <!-- CSS was ripped out and placed in component file but an error is popping up because of this -->

  <!-- Template Main JS File -->
  <script src="/DeASite/src/assets/JS/Main.js"></script>
  <script src="/DeASite/src/assets/JS/Simple.js"></script>
  
  <!-- slider-->

  <!-- slider End-->
  <p id="demo"></p>

  <div style="height: 60px;"></div>
  <h2 class="tpm" style="text-align: center; padding-top:15px; padding-bottom:15px; background-color: rgb(188, 188, 188);">Technical Product Management</h2>
  <div style="display: block; padding-left: 0;padding-right: 0;  margin: 0px 0;">
    <div>

        <div style="height: 333x; width: 700px; margin: auto; padding-bottom: 10px; ">

            <img style="height:100%; width:100%; align-items: center;" src="assets/images/uncrowd.png">
            <p style="text-align: center;">Uncrowd is a fundraising company that brings visability to underrepresented founders to raise capital for there startup.</p>
        </div>
    </div>

    <div style="margin: 0 0;">
      <div style="height: 20px;"></div>
     <div>
        <div style="height:450px; width: 450px; margin: auto; padding-bottom: 30px;">
            <img style="height:100%; width:100%; " src="assets/images/SecureBridgesLogo.png">
            
            <p style="text-align: center; padding-bottom: 100px;">Secure Bridges is a global platform that addresses all levels of trauma and works to decrease and prevent trauma events through access and education.</p>
        </div>
    </div>

    <div style="height: 60px;"></div>
  </div>

  <div>
    <h2 style="text-align: center;  padding-top:15px; padding-bottom:15px; background-color: rgb(188, 188, 188);">Software Development</h2>
    <div style=" padding-bottom: 10px; ">
        <div class="sectionAndPicture">
           <div style="height:300px; width: 450px; margin: auto;">
               <img style="height:100%; width:100%; " src="assets/images/TeachSafeHome.png">
           </div>
           <div style="height:242px; width:952px; margin: auto;">
            <img style="height:100%; width:100%; " src="assets/images/TeachsafeThin.png">
           </div>
        </div>
        <p style="text-align: center;">TeachSafe is a software company allowing the client to manage the team, schedule, course building, and testing students in the classroom.</p>
    </div>

    <div style=" padding-bottom: 10px;">
      <div style="height: 60px;"></div>
        <div class="sectionAndPicture">
           <div style="height:300px; width: 450px; margin: auto;">
            <img style="height:100%; width:100%; padding-bottom: 50px;" src="assets/images/WolfStarHome.png">
           </div>
        </div>
        <p style="text-align: center;">WolfStar Technologies,  True-Load, True-QSE and True-LDE, bring understanding to dynamic loading of structures and extract decision ready data from FEA models.</p>
    </div>


    <div style="background: black; padding-bottom: 10px; padding-top: 10px;">
        
      <div style="height: 50px;"></div>
      <div class="sectionAndPicture">
           <div style="height:259px; width: 1000px; margin: auto;">
            <img style="height:100%; width:100%; " src="assets/images/newworld.png">
           </div>
        </div>
        <p style="text-align: center; color: white;">NewWorldNow is a software company for companies in education to manage the organizations, classrooms, crendentails and trainings.</p>
    </div>
  </div>

  <div style="display: block;">
    <div style="height: 20px;"></div>
    <h2 style="text-align: center;">Freelance Work</h2>
    <div style="height: 20px;"></div>

    <div>
        <div style="height:495px; width: 700px; margin: auto; padding-bottom: 50px;">
            <img style="height:100%; width:100%; " src="assets/images/almapurahome.png">
            
            <p style="text-align: center;">Almapura site is where you can find services for yoga, meditation sessions and more.</p>
        </div>
        
    </div>    

  <!-- Work Section Start-->

  <!-- Work Section End-->

    <div>
        <div>
   
           <div style="height:495px; width: 700px; margin: auto; padding-bottom: 50px;">
               <img style="height:100%; width:100%; " src="assets/images/PurposeByDesigns.png">
               
               <p style="text-align: center;">PurposeByDesigns</p>
           </div>
           
       </div>       

       <div>
   
           <div style="height:313px; width: 700px; margin: auto; padding-bottom: 50px;">
               <img style="height:100%; width:100%; " src="assets/images/PrettyHair.png">
               <p style="text-align: center;">PrettyHairButiuqe</p>
           </div>
       </div>

  </div>