<style>
    a,
    a:visited,
    a:hover {
      color: #1976d2;
      text-decoration: none;
    }
  

    a:hover {
      color: #125699;
    }
  
    .terminal {
      position: relative;
      width: 80%;
      max-width: 600px;
      border-radius: 6px;
      padding-top: 45px;
      margin-top: 8px;
      overflow: hidden;
      background-color: rgb(15, 15, 16);
    }
    .sectionAndPicture{

        display: flex;
        flex-wrap: wrap;
    }

.spacer {
      flex: 1;
    }
  
    .toolbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin-bottom: 100px;
      height: 60px;
      display: inline-block;
      align-items: center;
      background-color: #1976d2;
      color: white;
      font-weight: 600;
      text-align: center;
    }
  
  
</style>

  <!-- Toolbar -->
  <div class="toolbar" role="banner">
      <div style="padding-top: 20px;">
        <a style="color: white; margin: 5px;" href=" ">Home</a>
        <a style="color: white; margin: 5px;" href="/Experience">Experience</a>
      </div>
      
  </div>

  <div style="height: 60px;"></div>
  <div style="height: 20px;"></div>
  <h2 style="text-align: center;">Technical Product Management</h2>
  <div style="height: 20px;"></div>
  <div style="display: block; padding-left: 0;padding-right: 0;  margin: 0px 0;">
    <div style="background-color: gray; padding-top: 5px;">

        <div style="height: 333x; width: 700px; margin: auto; padding-bottom: 10px; ">

            <img style="height:100%; width:100%; " src="assets/images/uncrowd.png">
            <p style="text-align: center;">Uncrowd is a fundraising company that brings visability to underrepresented founders to raise capital for there startup.</p>
        </div>
    </div>


    <div style="margin: 0 0; background-color: teal;">
      <div style="height: 20px;"></div>
     <div>
        <div style="height:450px; width: 450px; margin: auto; padding-bottom: 30px;">
            <img style="height:100%; width:100%; " src="assets/images/SecureBridgesLogo.png">
            
            <p style="text-align: center; padding-bottom: 100px;">Secure Bridges is a global platform that addresses all levels of trauma and works to decrease and prevent trauma events through access and education.</p>
        </div>
        
    </div>

    <div style="height: 60px;"></div>
    
    


    <div></div>
    <div></div>
  </div>

  <div>
    <div style="height: 20px;"></div>
    <h2 style="text-align: center;">Software Development</h2>
    <div style="height: 20px;"></div>
    <div style="background: lightblue; padding-bottom: 10px;">
        <div class="sectionAndPicture">
           <div style="height:300px; width: 450px; margin: auto;">
               <img style="height:100%; width:100%; " src="assets/images/TeachSafeHome.png">
           </div>
           <div style="height:242px; width:952px; margin: auto;">
            <img style="height:100%; width:100%; " src="assets/images/TeachsafeThin.png">
           </div>
        </div>
        <p style="text-align: center;">TeachSafe is a software company allowing the client to manage the team, schedule, course building, and testing students in the classroom.</p>
    </div>



    <div style="background: lightcoral; padding-bottom: 10px;">
      <div style="height: 60px;"></div>
        <div class="sectionAndPicture">
           <div style="height:300px; width: 450px; margin: auto;">
            <img style="height:100%; width:100%; " src="assets/images/WolfStarHome.png">
           </div>
        </div>
        <p style="text-align: center;">WolfStar Technologies,  True-Load, True-QSE and True-LDE, bring understanding to dynamic loading of structures and extract decision ready data from FEA models.</p>
    </div>


    <div style="background: lightslategray; padding-bottom: 10px; padding-top: 10px;">
        
      <div style="height: 60px;"></div>
      <div class="sectionAndPicture">
           <div style="height:259px; width: 1000px; margin: auto;">
            <img style="height:100%; width:100%; " src="assets/images/newworld.png">
           </div>
        </div>
        <p style="text-align: center;">NewWorldNow is a software company for companies in education to manage the organizations, classrooms, crendentails and trainings.</p>
    </div>
  </div>

  <div style="display: block;">
    <div style="height: 20px;"></div>
    <h2 style="text-align: center;">Freelance Work</h2>
    <div style="height: 20px;"></div>


    <div style="background-color: lightyellow;">
        <div style="height:495px; width: 700px; margin: auto; padding-bottom: 50px;">
            <img style="height:100%; width:100%; " src="assets/images/almapurahome.png">
            
            <p style="text-align: center;">Almapura site is where you can find services for yoga, meditation sessions and more.</p>
        </div>
        
    </div>    

    <div>
        <div style="background-color: plum;">
   
           <div style="height:495px; width: 700px; margin: auto; padding-bottom: 50px;">
               <img style="height:100%; width:100%; " src="assets/images/PurposeByDesigns.png">
               
               <p style="text-align: center;">PurposeByDesigns</p>
           </div>
           
       </div>       

       <div style="background-color: lightpink;">
   
           <div style="height:313px; width: 700px; margin: auto; padding-bottom: 50px;">
               <img style="height:100%; width:100%; " src="assets/images/PrettyHair.png">
               
               <p style="text-align: center;">PrettyHairButiuqe</p>
           </div>
           
       </div>

  </div>