<style>
  .toolbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      margin-bottom: 100px;
      height: 60px;
      display: block;
      align-items: center;
      background-color: #1976d2;
      color: white;
      font-weight: 600;
      text-align: center;
    }
    body{
      background-color: silver;
    }
  
</style>
<!-- Toolbar -->
  <div class="toolbar fixed-top" role="banner">
    <div style="padding-top: 20px;">
      <a style="color: white; margin: 5px;" href=" ">Home</a>
      <a style="color: white; margin: 5px;" href="/Experience">Experience</a>
    </div>
    
</div>

  <router-outlet></router-outlet>