

  <!-- Template Main JS File -->
  <script src="JS/Main.js"></script>


  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Divergent Solutions</h1>
          <h2> Wholeistic development to enrich communities and individuals.</h2>
          <div class="d-flex">
            <a href="/Experience" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="/assets/images/DeAngeloMatc.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <!--changing the flip cards to circles and change up the layout -->
    <div class="highlight">
  
      <div class="workcards" style="padding-bottom: 20px;">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/assets/images/newworld.png" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
              <h3>Software Developer</h3>
              <p>Working with this SaaS company doing fullstack work with C#, .NET, Angular, and SQL primarily.</p>
            </div>
          </div>
        </div>
        
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/assets/images/TeachsafeThin.png" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
              <h3>FullStack Developer</h3>
              <p>This smaller SaaS company had me working with React, C#, .NET, WebForms, and REST API's.</p>
            </div>
          </div>
        </div>
      
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/assets/images/JetConstellations.png" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
              <h3>Technical Product Manager</h3>
              <p>Working with founders,stakeholders, and developers to create applications that change the world and help communities.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!--
      Section Container like https://www.upwork.com/?utm_source=PartnerCentric&utm_medium=affiliate&utm_campaign=10078_Skimbit%20Ltd.&irclickid=3Ju0JaU2ZxyNR6DznXylcXt%3AUkAwnB0twzpd3Y0&irgwc=1%3Fcampaign%3D10078&source=Upwork_Impact
      Solid background, picture on one side infomation and button on the otherside
    -->


    <!--
      Section container with large image smaller containers and info with links 
      https://www.upwork.com/?utm_source=PartnerCentric&utm_medium=affiliate&utm_campaign=10078_Skimbit%20Ltd.&irclickid=3Ju0JaU2ZxyNR6DznXylcXt%3AUkAwnB0twzpd3Y0&irgwc=1%3Fcampaign%3D10078&source=Upwork_Impact
    -->


    
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-laptop"></i></div>
              <h4 class="title"><a href="">Product Manger</a></h4>
              <p class="description">Check out the wide range of products I have deliivered as a Techincal Product Manager.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Software Developer</a></h4>
              <p class="description">With experience working with 2 development stacks, the front-end differences were React & Angular. Find these companies here!</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clipboard-data"></i></div>
              <h4 class="title"><a href="">Freelance</a></h4>
              <p class="description">My freelance work has been mostly web applications and web site building software. Click here.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Services Section -->

  
  <div class="school">
    <h3>Milwaukee Area Techincal College</h3>
  </div>
  